<!-- About Section -->
<section id="about">
   <div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2>About Me</h2>
               <hr class="star-light">
           </div>
       </div>
       <div class="row">
           <div class="col-lg-4 col-lg-offset-2">
               <p>Master's in Computer Science from Texas A and M University.
                 Does a few things among a few other things. Just putting
                 it out there so that I can fill space here. </p>
           </div>
           <div class="col-lg-4">
               <p> Average Typing Speed of 105 wpm. </p>

                 <p> "There is only one cure for gray hair. It was invented by a Frenchman. It is called the guillotine." </p>
           </div>

           <div class="col-lg-8 col-lg-offset-2 text-center">
               <a href="" class="btn btn-outline-2">
                   <i class="fa fa-download"></i> Resume
               </a>
           </div>
       </div>
   </div>
</section>
