<!-- About Section -->
<section id="about">
   <div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2>More about me?</h2>
               <hr class="star-light">
           </div>
       </div>
       <div class="row">
           <div class="col-lg-4 col-lg-offset-2">
               <p>Classical violinist at SPICMACAY </p>
           </div>
           <div class="col-lg-4">
               <p> Average Typing Speed of 103 wpm at typeracer. </p>

                 <p> "There is only one cure for gray hair. It was invented by a Frenchman. It is called the guillotine." </p>
           </div>

           <div class="col-lg-8 col-lg-offset-2 text-center">
               <a href="" class="btn btn-outline-2">
                   <i class="fa fa-download"></i> Resume
               </a>
           </div>
       </div>
   </div>
</section>
