<!-- Header -->
<header>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" src="img/profile.png" alt="">
            <div class="intro-text">
                <span class="name">Sibi Rajendran</span>
                <hr class="star-light">
                <span class="skills">Supports Vector Machines</span>
            </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>About Me</h2>
                  <hr class="star-light">
              </div>
          </div>

          <div class="intro-text">
            <span class="skills">Skilled and aspiring Data Scientist.</span>
            <br><br>

            <span class="skills">Graduated with a Master's in Computer Science from Texas A&amp;M Univeristy in May 2017 </span>


            <br><br>
            <span class="skills">This site is home to my projects in Data Science, Machine Learning and Software Development</span>

          </div>


        <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br>
                    <a href="img/resume/Resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Here's my resume
                    </a>
        </div>
       </div>
    </div>
</div>
</header>
