

    <!-- Portfolio Grid Section -->
    <section class="success" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                    <br>
                </div>
            </div>
            <div class="row">

                    <div class="col-sm-4 portfolio-item">

                        <div class="col-lg-12 text-center">
                          <h4 >Goals and Machine Learning</h4>
                        </div>

                        <a href="#portfolioModal-1" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/football.png" class="img-responsive img-centered" alt="image-alt">
                        </a>
                    </div>

                    <div class="col-sm-4 portfolio-item">

                        <div class="col-lg-12 text-center">
                          <h4>Deep Learning Digits</h4>
                        </div>

                        <a href="#portfolioModal-2" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/idea.png" class="img-responsive img-centered" alt="image-alt">
                        </a>
                    </div>

                    <div class="col-sm-4 portfolio-item">

                        <div class="col-lg-12 text-center">
                          <h4 >West Nile Virus Prediction</h4>
                        </div>

                        <a href="#portfolioModal-3" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/idea.png" class="img-responsive img-centered" alt="image-alt">
                        </a>
                    </div>


                                        <div class="row">
                                            <div class="col-lg-12 text-center">
                                              <br><br>
                                            </div>
                                        </div>
                                        <div class="row">

                    <div class="col-sm-4 portfolio-item">

                        <div class="col-lg-12 text-center">
                          <h4> Predicting Loan Defaults</h4>
                        </div>

                        <a href="#portfolioModal-4" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/game.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>

                    <div class="col-sm-4 portfolio-item">

                        <div class="col-lg-12 text-center">
                          <h4 >Mini Projects</h4>
                        </div>

                        <a href="#portfolioModal-6" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/submarine.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>

                    <div class="col-sm-4 portfolio-item">

                        <div class="col-lg-12 text-center">
                          <h4 >Other Small Projects</h4>
                        </div>

                        <a href="#portfolioModal-5" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/safe.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>

            </div>
        </div>
    </section>
