<!-- About Section -->
<section id="skills">
   <div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2>Skills</h2>
               <hr class="star-primary">
           </div>
       </div>

        <div class="intro-text text-center">


        </div>
    </div>
    <div class="row">
     <br><br>
       <div class="col-lg-3 col-lg-offset-1 text-center">
         <img src="img/skills/git.png" class="img-centered" height="128px" width="128px" ></img>
         <img src="img/skills/ubuntu.svg" class="img-centered" height="128px" width="128px" ></img>
         <img src="img/skills/bash.png" class="img-centered" height="128px" width="128px" ></img>
       </div>

       <div class="col-lg-4 text-center">
           <img src="img/skills/python.png" class="img-centered" height="128px" width="128px" ></img>
           <img src="img/skills/r.png" class="img-centered" height="128px" width="128px" ></img>
           <img src="img/skills/sql.png" class="img-centered" height="128px" width="128px" ></img>
           <img src="img/skills/tableau.png" class="img-centered" height="64px" width="256px" ></img>
        </div>

       <div class="col-lg-3 text-center">
         <img src="img/skills/ror.png" class="img-centered" height="128px" width="128px" ></img>
         <img src="img/skills/js.png" class="img-centered" height="128" width="128" ></img>
         <img src="img/skills/cpp.png" class="img-centered" height="128px" width="128px" ></img>
       </div>
    </div>
</section>
